@model BusinessLogicDomain.Entities.SnippingDetails

@{
    ViewBag.Title = "BookStrore: форма заказа";
}

<h2>Оформить заказ</h2>
<p>Пожалуйста, введите Ваши контактные данные.</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Данные</h3>
    <div class="form-group">
        <label>Ваше имя:</label>
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control"})
        <label>Ваша фамилия:</label>
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        <label>Ваш телефон:</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        <label>Ваш адрес электронной почты:</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <h3>Адрес доставки</h3>
    foreach(var property in ViewData.ModelMetadata.Properties)
    {
        if(property.PropertyName != "FirstName" && property.PropertyName != "LastName" && property.PropertyName != "Phone" 
            && property.PropertyName != "Email" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>
                    @(property.DisplayName ?? property.PropertyName)
                </label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }
    <h3>Опции</h3>
    <div class="form-group">
        @Html.EditorFor(x => x.GiftWrap)
        <label>Использовать подарочную упаковку?</label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обработать заказ" />
    </div>
}

